body
{
	background:#EEEEEE;
}
#main
{
	border:1px solid #fff;
	width:800px;
	height:auto;
	margin:0 auto;
	background:#FFFFFF;
	border-radius:10px;
}
#head
{
	border:0px solid #fff;
	width:780px;
	height:150px;
	margin:0 auto;
	background-image:url(../images/gdhs.gif);
}
#head1
{
	border:0px solid #ccc;
	width:780px;
	height:110px;
	margin:0 auto;
	
}
#head1 h2
{
	color:#000000;
	padding:10px 20px 0px 150px;
}
#head2
{
	border:1px solid #ccc;
	width:780px;
	height:250px;
	margin:0 auto;
	background:#EEEEEE;
	
}
#td
{
	width:120px;
	border:1px solid #fff;
	line-height:28px;
}
#te
{
	width:250px;
	border:1px solid #fff;
	line-height:28px;
}
#fa
{
	border:0px solid #ccc;
	width:780px;
	height:80px;
	margin:0 auto;
}
#fa h2
{
	color:#000000;
	padding:10px 20px 10px 180px;
}
#sub
{
	border:0px solid #ccc;
	width:780px;
	height:270px;
	margin:0 auto;
	
}
#co
{
	width:150px;
	border:0px solid #fff;
	background:#AFB7BE;
	font-weight:bold;
	text-align:center;
}
#col
{
	width:280px;
	border:0px solid #fff;
	background:#AFB7BE;
	font-weight:bold;
	text-align:center;
}
#cok
{
	width:180px;
	border:0px solid #fff;
	background:#AFB7BE;
	font-weight:bold;
	text-align:center;
}
#cod
{
	width:180px;
	border:0px solid #fff;
	background:#AFB7BE;
	font-weight:bold;
	text-align:center;
}
#cod1
{
	width:180px;
	border:0px solid #fff;
	background:#EEEEEE;
	line-height:24px;
}
#co1
{
	width:150px;
	border:0px solid #fff;
	background:#EEEEEE;
	line-height:24px;
	
}
#cod2
{
	width:180px;
	border:0px solid #fff;
	background:#DEE1E4;
}
#col1
{
	width:280px;
	border:0px solid #fff;
	background:#EEEEEE;
	line-height:24px;
	text-align:center;
}
#cok1
{
	width:180px;
	border:0px solid #fff;
	background:#EEEEEE;
	line-height:24px;
}
#co2
{
	width:150px;
	border:0px solid #fff;
	background:#DEE1E4;
}
#col2
{
	width:280px;
	border:0px solid #fff;
	background:#DEE1E4;
	text-align:center;
}
#cok2
{
	width:180px;
	border:0px solid #fff;
	background:#DEE1E4;
}
#bo
{
	border:0px solid #ccc;
	width:500px;
	height:40px;
	margin:0 auto;
}
#bo a
{
	text-decoration:none;
	padding:20px 0px 10px 350px;
}
#boo
{
	border:0px solid #ccc;
	width:780px;
	height:80px;
	margin:0 auto;
	background-image:url(../images/dfhg.gif);
}
#lk
{
	float:left;
	text-align:center;
	width:150px;
}
#lo
{
	float:left;
	text-align:center;
	width:150px;
}